body
{
    background-image:url("/public/images/_aeb041b8-52f4-11ea-a3cd-8211a7b3c8e4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.class1
{
    background-image:url("/public/images/Ep_LnZUUUAASdOG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.class3
{
    background-image:url("/public/images/alappuzha-beach\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.class4
{
    background-image:url("/public/images/Kochi_Skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.class5
{
    background-image:url("/public/images/idukki-1553506802.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.class6
{
    background-image:url("/public/images/vegetation-waterways-state-Kerala-India.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

